<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/css/bootstrap.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An!meHaven | Blog</title>
    <link rel="icon" type="image/x-icon" href="https://animehaven.fun/static/media/logo.25333f96f1a31e8c4ba6cf45f54e22fa.svg">
</head>
<body>
    <%- include('./partials/components/nav.ejs') %>
    <div class="container text-center my-5">
        <h3>Create A Blog</h3>
        <div class="my-5">
        <form method="post" action="/blog/create" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="coverImage" class="form-label">Cover image</label><br>
                <input type="file" name="coverImage">
            <br>
            <div class="mb-3 my-4">
                <label for="title" class="form-label">Title</label><br>
                <input name="title" type="text" class="form-title" id="title" aria-describedby="blogTiitle">
                <div id="titleHelp" class="form-text">A Title For Your Amazing Blog</div>
            </div>
            <div class="mb-3 my-5">
                <label for="content" class="form-label">Content </label>
                <textArea name='content' id='content' class="form-control"></textArea>
                
                <div id="contentHelp" class="form-text">The Content Your Amazing Blog</div>
                <button type="submit" class="btn btn-primary my-5">Create</button>
            </div>
        </form>
        </div>
    </div>

    <%- include('./partials/js/bootstrap.ejs') %>
</body>
</html>