<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/css/bootstrap.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An!meHaven</title>
    <link rel="icon" type="image/x-icon" href="https://animehaven.fun/static/media/logo.25333f96f1a31e8c4ba6cf45f54e22fa.svg">
</head>
<body>
    <%- include('./partials/components/nav.ejs') %>
    <div class="container text-center">
        <h3>Welcome to An!meHaven</h3>
    </div>

    <%- include('./partials/js/bootstrap.ejs') %>
</body>
</html>