<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/bootstrap.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An!meHaven</title>
</head>
<body>
    
</body>
</html>